@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

* {
    font-family: 'Sen', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.ramito-video-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.ramito-violet-container {
    /* width: 100%;
    height: 100vh; */
    position: relative;
    overflow: hidden;
    background-color: #333366;
    display: flex;
    flex-direction: column;
}


.organica-column {
    position: relative;
}

.ramito-violet-container h3 {
    color: white;
    font-family: 'Sen', sans-serif;
    font-size: 140px;
    margin: 0;
    line-height: 110px;
    margin: -80px 0px;
    position: absolute;
}

.imagen-detalle-flores {
    position: absolute;
    left: -150px;
    top: 50%;
    height: 300px;
}

.tempranillo-inner-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    background-image: linear-gradient(180deg, #954231 50%, white 50%);
}

.ramito-imagen-organica {
    width: 100%;
}

.ramito-imagen-botella {
    height: 700px;
}

/* Tempranillo Section */

.section-tempranillo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    position: relative;
    padding: 100px 0px;
    overflow: hidden;
}

.imagen-detalle-flores-rosado {
    position: absolute;
    right: -150px;
    top: 50px;
    height: 300px;
}

.section-tempranillo h3 {
    font-size: 80px;
    margin: 0;
    line-height: 70px;
    color: #333366;
    font-weight: black;
    letter-spacing: -3px;

}

.section-tempranillo p {
    width: 300px;
    font-size: 18px;
    color: #333366;

}

/* Bobal Rosaro Section */

.section-bobal-rosado {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.section-bobal-rosado-red {
    background-color: #954231;
    display: flex;
    align-items: center;
    padding-left: 300px;
}

.section-bobal-rosado-red h3 {
    color: white;
    font-family: 'Sen', sans-serif;
    font-size: 80px;
    margin: 0;
    line-height: 70px;
}

.section-bobal-rosado-red p {
    color: white;
    font-family: 'Sen', sans-serif;
    font-size: 1.2em;
    width: 300px;
}

.section-bobal-rosado-white {
    padding-top: 60px;
}

.image-ramito {
    position: absolute;
    height: 900px;
}

/* Section Navegar */

.section-navegar {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    position: relative;
    padding-bottom: 50px;
}

.section-navegar .imagen-barco {
    display: flex;
    justify-content: end;
}

.section-navegar .image-navegar {
    height: 900px;
}

.section-navegar .ramito-navegar-imagen-botella {
    height: 800px;
    position: absolute;
    left: 400px;
    top: 300px;
}

/* Section Verdejo */

.section-verdeo-sauvignon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(180deg, #3A5F46 60%, white 40%);
    padding-top: 200px;
}

.section-verdeo-sauvignon .image-navegar {
    height: 900px;
}

.logo-ramito-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-verdeo-sauvignon .logo-ramito-cuadrado {
    padding-top: 100px;
}

.section-verdeo-sauvignon h3 {
    color: white;
    font-family: 'Sen', sans-serif;
    font-size: 80px;
    margin: 0;
    line-height: 70px;
}

.section-verdeo-sauvignon p {
    color: white;
    font-family: 'Sen', sans-serif;
    font-size: 1.2em;
    width: 300px;
}

/* Section Raices Ibericas */

.section-raices-ibericas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
}

.section-raices-ibericas .image-raices {
    height: 600px;
}

.section-raices-ibericas .logo-raices-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Section Mapa */

.section-mapa {
    background-image: url(./assets/mapaDeVinos-01.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh;
    overflow: hidden;
}

@media screen and (max-width: 760px) {

    .ramito-video-container {
        display: none;
    }

    .ramito-violet-container-header {
        padding: 20px;
    }

    #nav-icon1 {
        display: block;
    }

    #nav-icon1 span {
        display: block;
        margin: 4px;
        height: 4px;
        width: 40px;
        background: white;
        border-radius: 9px;
    }

    #nav-menu1:checked~#nav-icon1 span:nth-child(1) {
        -webkit-transform: rotate(135deg) translate(10px, -10px);
        -moz-transform: rotate(135deg) translate(10px, -10px);
        -o-transform: rotate(135deg) translate(10px, -10px);
        transform: rotate(135deg) translate(10px, -10px);
    }

    #nav-menu1:checked~#nav-icon1 span:nth-child(2) {
        opacity: 0;
    }

    #nav-menu1:checked~#nav-icon1 span:nth-child(3) {
        -webkit-transform: rotate(-135deg) translate(0px);
        -moz-transform: rotate(-135deg) translate(0px);
        -o-transform: rotate(-135deg) translate(0px);
        transform: rotate(-135deg) translate(0px);
    }

    #nav-icon1 span {
        cursor: pointer;
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }



    input[type="checkbox"] {
        display: none;
    }


    /* .ramito-violet-container-header ul {
        display: none;
    } */

    .ramito-logo-blanco {
        height: 20px;
    }

    .ramito-violet-container p {
        font-size: 1em;
        width: auto;
    }

    ..ramito-violet-wrapper {
        display: flex;
        justify-content: center;
        padding: 0px 30px;
    }

    .section-tempranillo h3 {
        font-size: 20px;
    }

    .ramito-violet-container-header ul {
        flex-direction: column;
        font-size: 1em;
    }

    .section-tempranillo {
        grid-template-columns: 1fr;
        place-items: normal;
    }

    .tempranillo-inner-section {
        grid-template-columns: 1fr;
    }

    .section-bobal-rosado {
        grid-template-columns: 1fr;
    }

    .section-bobal-rosado-red {
        padding-left: 0px;
    }

    .section-bobal-rosado-red h3 {
        font-size: 50px;
        line-height: 40px;
    }

    .image-ramito {
        position: relative;
        height: 300px;
    }

    .section-navegar .image-navegar {
        height: 300px;
    }

    .section-verdeo-sauvignon,
    .section-raices-ibericas {
        grid-template-columns: 1fr;
    }

    .ramito-violet-container h3 {
        position: relative;
        font-size: 50px;
        line-height: 30px;
    }

    .ramito-imagen-botella {
        height: 300px;
    }

    .imagen-detalle-flores,
    .ramito-imagen-botella,
    .imagen-detalle-flores-rosado {
        display: none;
    }
}